/***** HEADER e MENU *****/
.flexRowContent--header-aws { /* menu superior */
    align-items: center;
    background-color: #232f3e;
}

.flexRow--menu-header-aws { /* menu de categorias */
    align-items: center;
    background-color: #232f3e;
}

.flexRowContent--main-header-mobile {
    align-items: center;
    background-color: #232f3e;
}
/***** CONTAINER *****/
.flexRow--row-container-description {
    margin-top: 5px;
}

/***** REGIONS *****/
.flexRow--imageRegionRow {
    background-color: #f2f4f4;
}

/* PRODUCT PAGE ICONS */

.flexRow--productpageIcons {
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
}

.flexColChild--iconCol {
    display: flex;
    justify-content: center;
}

/*****cadastro de leads e patrocinadores****/
.flexColChild--logospatro{
    margin:auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.flexRowContent--logos{
    max-width: 900px;
    margin: auto;
    margin-bottom: 50px;
}
.flexCol--linha{
    max-width:2px;
    max-height:600px;
    background-color: #c3c3c3;
    margin-top: 60px;
}
.flexRow--imagelogo{
    width:100%;
    background-color: white;
}

.flexRowContent--cadastro{
    margin: auto;
    display: flex;
    justify-content:center;
    align-self:center;
    width: 50vw;
}

.flexCol--logospatro{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRow--logos{
    margin-top: 50px;
}
.flexRow--titulo-logos{
    margin-top: 50px;
}
.flexRow--cadastro{
    width:99vw;
    height:80vh;
    align-items: center;
    background-image: url("https://uploaddeimagens.com.br/images/003/401/082/original/backgroundaws.png?1630008498");
    background-color: white;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
}

.flexRow--containerPatro{

    display:flex;
    flex-direction:column;
    justify-content: space-around;
    height: 50vh;
}
/***footer*****/
.flexRow--footer1{
    background-color:#232F3E ;
    padding-bottom: 10px;
    padding-top: 20px;
}

.flexRow--idiomas{
    background-color:#232F3E ;
    padding-bottom: 20px;
}

.flexColChild--container-footer{
    display: flex;
    justify-content: center;
  }

/*** slider***/
.flexRow--caroussel{
    max-width:85vw;
    margin:auto;
}
.flexRow--carousell{
   background-color:rgb(255, 255, 255);
   height:300px;
   align-items: center;
   display: flex;
}
.flexRow--caroussell{
    background-color:rgb(255, 255, 255);
    padding-top:20px;
 }
 
 .flexRow--Slider{
    max-width:100vw;
    margin:auto;
    display: flex;
    background-color: #232F3E;
}
 /**** soluçoes aws cards***/

.flexRow--solutions-line{
    align-items: center;
    justify-content: center;
    margin: 10px 90px 40px 90px;
}

 .flexCol--solutions-columns{
     background-color:white;
     border-top: 6px solid #333;
     padding: 15px;
     height: 280px;
     position: relative;
     box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%), 0 0 0 1px rgb(0 0 0 / 4%); 
 }

/* mission 6 */
.flexRowContent--aws-characteristics1{
    background: #23303f;
 }
 .flexRowContent--aws-characteristics{
    background: #23303f;
    padding-bottom: 20px;
    padding:60px
 }
 .flexColChild--requisitos{
     margin: auto;
     max-width:250px; 
     padding-bottom: 10px;
    }

/*** about us ***/
 
 .flexRow--about1{
    background-image:url("https://uploaddeimagens.com.br/images/003/404/710/original/background.png?1630269372");
    background-color:#1d252f;
    background-repeat:no-repeat;
    background-size:cover;
    max-width: 100vw;
    height:100vh;
    align-items: center;
 }
 .flexRow--about11{
    max-width: 1200px;
    max-height:700px;
    margin-top: 150px;
    padding: 50px;
    box-shadow:inset 0px 0px 10px rgb(106, 0, 255);
 }

 .flexColChild--aboutcontaineir1{
     padding-right:40px;
 }
 .flexColChild--about-video{
    padding-top:50px;
 }
 .flexRow--maparow{
     background-color:#1d252f;
     height: 100vh;
 }
 .flexRowContent--imageAboutRow{
    display:flex;
    margin:auto
 }

/***** treinamento *******/
.flexRow--treinamentobloco{
    background-color:#1d2835;
    padding-bottom:30px;
    height: 900px;
}
.flexColChild--divTreino{
    padding:20px;
    margin: 20px;
}