/************************ DESKTOP **************************/

/*****  PRODUCT PAGE *****/
.wrapper--productpage-title { /* Título do stack layout - productpage - Dektop */
    color: #ffffff;
    font-weight: 800;
    margin-left: 190px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 36px;
}

.wrapper--productpage-subTitle { /* Subtítulo do stack layout - productpage - Dektop */
    color: #ffffff;
    font-weight: 400;
    margin-top: 65px;
    margin-left: 190px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 22px;
}

.paragraph--productpage-description { /* Descrição do productpage - Dektop */
    color: #232f3e;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

/***** REGIONS *****/
.container--regionsTitle { /* Título - Regions - Dektop */
    margin-top: 20px;
    height: 50px;
    width: 100%;
}

.paragraph--regionsTitle{
    font-size: 32px;
    font-weight: bold;
}

.paragraph--regionTitle{
    font-size: 32px;
    font-weight: bold;
}
.paragraph--regionSubTitle{
    color: #232f3e;
    font-weight: 400;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    width: 1000px;
    margin-bottom: 30px;
}

.wrapper--regionsSubTitle { /* Subtítulo - Regions - Dektop */
    color: #232f3e;
    font-weight: 400;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 1000px;
}

/***** SOLUTIONS *****/

.headingLevel3--main-title-solutions {
    font-size: 36px;
    padding-top: 15px;
}

.container--container-title-text {
    margin-top: -30px;
    margin-bottom: -20px;
    margin-left: 90px;
    width:100%;
}

.strong--containers-titles {
    color: #007eb9;
    font-size: 18px;
}

.paragraph--container-content-text {
    font-size: 13px;
}

/***** START USING *****/

.container--container-start-using-main-title {
    margin-left: 80px;
    margin-top: 30px;
    width: 1200px;
}

.headingLevel3--container-start-using-main-title {
    font-size: 24px;
    margin: 15px 0px;
}

.strong--containers-titles-start-using {
    font-size: 18px;
}

.headingLevel4--containers-titles-start-using {
    padding: 10px 0px;
    margin: 0px;
}

.wrapper--containers-contents-start-using {
    width: 379.98px;
    height: 44px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.paragraph--containers-contents-start-using {
    width: 379.98px;
    height: 44px;
    font-size: 14px;
    color: #413737;
    padding-top: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}




/************************* MOBILE ********************************/

/*****  PRODUCT PAGE *****/

.wrapper--productpage-titleMobile { /* Título do stack layout - productpage - Mobile */
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.wrapper--productpage-subTitleMobile { /* Subtítulo do stack layout - productpage - Mobile */
    color: #ffffff;
    font-size: 16px;
    justify-content: center;
    margin-top: 52px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.paragraph--productpage-descriptionMobile { /* Descrição do container - productpage - Mobile */
    color: #232f3e;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


/***** REGIONS *****/

.container--regionsTitleMobile { /* Título - Regions - Mobile */
    height: 50px;
    width: 100%;
    font-size: 20px;
    margin: 0;
}

.container--patroTitleMobile { /* Título - Regions - Mobile */
    margin: 20px 0 30px 0;
    height: 50px;
    width: 100%;
}

/* PRODUCT PAGE ICON RICH TEXT */

.wrapper--productpageColTitle {
    height: 55px;
    margin-top: -20px;
}

/* FOOTER*/
.paragraph--linkfooter{
    color:white;
    font-weight: bold;
    font-size: 18px;
}
.paragraph--tittle-footer{
    color:white;
    font-weight: bold;
    font-size: 18px;
}

/* carrousel serviços*/
.paragraph--containerCarrousel{
    color:white;
    font-weight: bold;
    font-size: 18px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: unset;
}
.wrapper--containerCaroussel{
    color:white;
    font-weight: bold;
    font-size: 18px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: unset;
}

/* mission 6 */
.container--main-title {
    font-size: 36px;
    color: #ffffff;
}

.container--characteristics-title {
    font-size: 25px;
    color: #ffffff;
}

.container--characteristics-description {
    font-size: 18px;
    color: #ffffff;
}
.paragraph--characteristics-description{
    margin-bottom: 10px;
}
/***** aboutus ******/
.paragraph--about-Title{
    color:white;
    font-weight: bold;
    font-size: 40px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: unset;
}
.paragraph--about-subTitle{
    color:white;
    font-size: 15px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: unset;

}
.wrapper--about-Title{
    height: 140px;
}
.paragraph--mapaTitle{
    color:white;
}
.paragraph--mapaSubTitle{
    color:white
}
.paragraph--abouSubTitle{
    color:white;
    font-size: 20px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: unset;
}

.paragraph--abouTitle{
    color:white;
    font-weight: bold;
    font-size: 30px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: unset;
}
/***** bloco treinamento pokomen ***********/
.paragraph--treinoTitle{
    color:white;
}
.paragraph--treinoTitle2{
    color:white;
    font-weight: bold;
    font-size:26px;
}
.paragraph--treinoTitle2:hover{
    color:rgb(241, 132, 30);
    font-weight: bold;
    font-size:26px;
}
.paragraph--treinoSubTitle{
    font-size: 25px;
    color:white;
}
.paragraph--treinoSubTitle:hover{
    font-size: 25px;
    color:rgb(241, 132, 30);
}
.paragraph--treinoSubTitle2{
    font-size: 22px;
    color:white;
    margin:10px;
}