/************************ DESKTOP **************************/

/*****  CONTAINER *****/
.wrapper--container-title { /* Título do stack layout - Contaianer - Dektop */
    color: #ffffff;
    font-weight: 800;
    margin-left: 190px;
    font: 36px "Helvetica Neue", arial, sans-serif;
}

.wrapper--container-subTitle { /* Subtítulo do stack layout - Contaianer - Dektop */
    color: #ffffff;
    font-weight: 400;
    margin-top: 65px;
    margin-left: 190px;
    font: 22px "Helvetica Neue", arial, sans-serif;
}

.paragraph--container-description { /* Descrição do container - Contaianer - Dektop */
    color: #232f3e;
    font: 20px "Helvetica Neue", arial, sans-serif;
    line-height: 1.5;
    text-align: justify;
}

/***** REGIONS *****/
.container--regionsTitle { /* Título - Regions - Dektop */
    height: 50px;
    width: 100%;
}

.wrapper--regionsSubTitle { /* Subtítulo - Regions - Dektop */
    color: #232f3e;
    font-weight: 400;
    font: 20px "Helvetica Neue", arial, sans-serif;
    width: 1000px;
}


/************************* MOBILE ********************************/

/*****  CONTAINER *****/

.wrapper--container-titleMobile { /* Título do stack layout - Contaianer - Mobile */
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    font: "Helvetica Neue", arial, sans-serif;
}

.wrapper--container-subTitleMobile { /* Subtítulo do stack layout - Contaianer - Mobile */
    color: #ffffff;
    font-size: 18px;
    justify-content: center;
    margin-top: 52px;
    font: "Helvetica Neue", arial, sans-serif;
}

.paragraph--container-descriptionMobile { /* Descrição do container - Contaianer - Mobile */
    color: #232f3e;
    font: "Helvetica Neue", arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


/***** REGIONS *****/

.container--regionsTitleMobile { /* Título - Regions - Mobile */
    height: 50px;
    width: 100%;
}