/* CONTAINER */
.imageElement--image-container{ /* imagem da descrição - coluna direta whats_in_a_container */
    width: 500px;
    height: 320px;
}


/***** MOBILE *****/
.coverMobile {
    width: 100%;
}

/*****cadastro lead*****/
.imageElement--imageCadastro{
    margin-top: 50px;
}