/* Search Bar - Menu */
.searchBarContainer {
    width: 500px;
}

/* CONTAINER */
.imageElement--image-container{ /* imagem da descrição - coluna direta whats_in_a_container */
    width: 500px;
    height: 320px;
}

/***** MOBILE *****/
.coverMobile {
    width: 100%;
}


/* CONTAINER ICON IMGS */
.imageElement--iconImg {
    width: 110px;
    height: auto;
}


/* Cadastro */
.imageElement--imageCadastro {
    margin-top: 50px;
}
/*****cadastro lead*****/
.imageElement--imageCadastro{
    margin-top: 50px;
}

/*** patrocinadores***/

.imageElement--imagePatro{
    filter: grayscale(100%);
    mix-blend-mode:multiply;
}

.imageElement--imagePatro:hover{
    filter: grayscale(0%);
}
/******* about us*********/
.imageElement--Slider{
    margin: auto;  
    align-self: center;
    margin-left: 100%;
    height:500px;
    max-width:15000px;
}

.imageElement--imageAbout3{
    margin-left:90px;
    max-width:600px;
}
.imageElement--imageAbout4{
    margin-left:90px;
    margin-top:50px;
    max-width:600px;
}