/***** CONTAINER DESKTOP *****/

.buttonLink--button-container { /* BOTÃO CTA CONTAINER DESKTOP */
    background-color: #f7dfa5;
    color: #333333;
    font: 14px "Helvetica Neue", arial, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    opacity: 0.95;
    padding: 4px 18px;
    margin-top: 131px;
    width: auto;
    height: 35px;
    margin-left: 190px;
}

.buttonLink--button-container:hover {
    background-color: #f3d078;
    color: #333333;
}


/***** CONTAINER MOBILE *****/

.buttonLink--button-containerMobile { /* BOTÃO CTA CONTAINER - MOBILE */
    background-color: #f7dfa5;
    color: #333333;
    font: 14px "Helvetica Neue", arial, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    opacity: 0.95;
    padding: 4px 18px;
    margin-top: 135px;
    width: 100%;
    height: 35px;
}

 .link--linkfooter{
    font-size: 0.9rem;
    margin: 4px;
    color:white;
    font: 18px "Helvetica Neue", arial, sans-serif;
    font-style: normal;
    text-decoration: unset;
    padding-bottom: 5px;
    
 }

 .link--linkfooter:hover{
    font-size: 0.9rem;
    margin: 4px;
    color: rgb(243, 137, 16);
    font-style: normal;
    text-decoration: unset;
    font: 18px "Helvetica Neue", arial, sans-serif;
    padding-bottom: 5px;
 }