/***** MENU HEADER *****/
.styledLinkContent {
    color: #ddd;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.styledLinkContent:hover {
    color: #f8991d;
}

.menuContainer--dropdown-menu {
    background-color: #232f3e;
    width: 100%;
}

.submenuWrapper {
    background-color: #232f3e;
}