/***** MENU HEADER *****/
.styledLinkContent {
    color: #ddd;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.styledLinkContent:hover {
    color: #f8991d;
}

.menuContainer--dropdown-menu { /* Menu de categorias */
    background-color: #232f3e;
    align-items: center;
    justify-content: center;
}

.submenuWrapper {
    background-color: #232f3e;
}

.menuItem {
    margin: 10px 0 10px 0;
}