/***** PRODUCT PAGE DESKTOP *****/
.link {
    text-decoration: unset;
}

.buttonLink--button-productpage { /* BOTÃO CTA CONTAINER DESKTOP */
    background-color: #f7dfa5;
    color: #333333;
    font: 14px "Helvetica Neue", arial, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    opacity: 0.95;
    padding: 4px 18px;
    margin-top: 131px;
    width: auto;
    height: 35px;
    margin-left: 190px;
}

.buttonLink--button-productpage:hover {
    background-color: #f3d078;
    color: #333333;
}

/***** SOLUTIONS *****/

.label--link-know-more {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    color: #007eb9;
}

.label--link-know-more:hover {
    color: #e47911;
}

.link--link-columns {
    text-decoration: none !important;
}

.label--link-all {
    font-size: 18px;
    color: #007eb9;
    margin-left: 76%;
    position: relative;
    bottom: 25px;
}

/***** START USING *****/

.buttonLink--button-new-account {
    font: 14px "Helvetica Neue", arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: #f3d078;
    background-image: linear-gradient(180deg,#f7dfa5 0,#f0c14b);
    line-height: 1.43;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 40%);
    color: #333;
    border-color: #a88734 #9c7e31 #846a29;
    border: 1px solid;
    border-radius: 3px;    
    width: 379.98px;
    height: 30px;
}

.buttonLink--button-new-account:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #333;
    cursor: pointer;
    width: 379.98px;
    height: 30px;
}

.label--button-new-account {
    text-transform: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
}



/***** PRODUCT PAGE MOBILE *****/

.buttonLink--button-productpageMobile { /* BOTÃO CTA CONTAINER - MOBILE */
    background-color: #f7dfa5;
    color: #333333;
    font: 14px "Helvetica Neue", arial, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    opacity: 0.95;
    padding: 4px 18px;
    margin-top: 135px;
    width: 100%;
    height: 35px;
}

 .link--linkfooter{
    font-size: 0.9rem;
    margin: 4px;
    color:white;
    font: 18px "Helvetica Neue", arial, sans-serif;
    font-style: normal;
    text-decoration: unset;
    padding-bottom: 5px;
    
 }
/*** footer***/

 .link--linkfooter:hover{
    font-size: 0.9rem;
    margin: 4px;
    color: #f38910;
    font-style: normal;
    text-decoration: unset;
    font: 18px "Helvetica Neue", arial, sans-serif;
    padding-bottom: 5px;
 }

 .buttonLink--button-footer{
    margin-top:35px;
    margin-bottom:10px;
    width: 100%;
    height: 35px;
 }
 .label--linkfooter{
    font-size: 0.9rem;
 }

 /***** HEADER *****/
 .buttonLink--button-entrar-header { /* BOTÃO ENTRAR */
    background-color: #f38910;
    color: #ffffff;
    font: 14px "Helvetica Neue", arial, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    opacity: 0.95;
    width: auto;
    height: 35px;
}