/* Search Bar - Menu */
.searchBarContainer {
    width: 500px;
}

/* CONTAINER */
.imageElement--image-container{ /* imagem da descrição - coluna direta whats_in_a_container */
    width: 500px;
    height: 320px;
}


/***** MOBILE *****/
.coverMobile {
    width: 100%;
}


/* CONTAINER ICON IMGS */
.imageElement--iconImg {
    width: 110px;
    height: auto;
}


/* Cadastro */
.imageElement--imageCadastro {
    margin-top: 50px;
}
/*****cadastro lead*****/
.imageElement--imageCadastro{
    margin-top: 50px;
}

/*** patrocinadores***/

.imageElement--imageCadastro{
    filter: grayscale(100%);
}

.imageElement--imageCadastro:hover{
    filter: grayscale(0%);
}