/*** slider de serviços***/
.listItemChildren--caroussel{
    background-color:#232F3E;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom:30px;
    max-width:170px;
    max-height:170px;

}

.listItemChildren--caroussel:active{
    background-color: #0073BB;
}
