/***** HEADER e MENU *****/
.flexRowContent--header-aws { /* menu superior */
    align-items: center;
    background-color: #232f3e;
}

.flexRow--menu-header-aws { /* menu de categorias */
    align-items: center;
    background-color: #232f3e;
}

.flexRowContent--main-header-mobile {
    align-items: center;
    background-color: #232f3e;
}
/***** CONTAINER *****/
.flexRow--row-container-description {
    margin-top: 5px;
}

/***** REGIONS *****/
.flexRow--imageRegionRow {
    background-color: #f2f4f4;
}

/* CONTAINER ICONS */

.flexRow--containerIcons {
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
}

.flexColChild--iconCol {
    display: flex;
    justify-content: center;
}

/*****cadastro de leads e patrocinadores****/
.flexColChild--logospatro{
    margin:auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.flexRowContent--logos{
    max-width: 900px;
    margin: auto;
}
.flexCol--linha{
    max-width:2px;
    max-height:600px;
    background-color: #c3c3c3;
    margin-top: 60px;
}

.stretchChildrenWidth{
    width:50vw;
}

.flexRowContent--cadastro{
    margin: auto;
    display: flex;
    justify-content:center;
    align-self:center;
    width: 50vw;
}

.flexRow--imageLogo {
    margin-top: 100px;
}

.flexRow--cadastro{
    width:99vw;
    height:80vh;
    align-items: center;
    background-image: url("https://uploaddeimagens.com.br/images/003/401/082/original/backgroundaws.png?1630008498");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
}

.flexRow--containerPatro{

    display:flex;
    flex-direction:column;
    justify-content: space-around;
    height: 50vh;
}
/***footer*****/
.flexRow--footer1{
    background-color:#232F3E ;
    padding-bottom: 10px;
    padding-top: 20px;
}

.flexRow--idiomas{
    background-color:#232F3E ;
    padding-bottom: 20px;
}

.flexColChild--container-footer{
    display: flex;
    justify-content: center;
  }

/*** slider***/
.flexRow--caroussel{
    max-width:50vw;
    margin:auto;
}